# build output
dist/
# generated types
.astro/
# local Cloudflare runtime state
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
public/media/stills/zikry/IMG_0725-1.jpg
public/media/stills/zikry/15-edit.jpg
public/media/stills/zikry/14-edit.jpg
public/media/stills/zikry/000059970010-edit.jpg
public/media/stills/zikry/000059970002-edit.jpg
public/media/stills/zikry/000059970001-edit.jpg
public/media/stills/zikry/000005050007.jpg
public/media/stills/zikry/000005050005.jpg
public/media/stills/wyn/cover.jpg
public/media/stills/wyn/01.jpg
public/media/stills/samiswa/000046130004-edit.jpg
public/media/stills/samiswa/000046110007-edit.jpg
public/media/stills/samiswa/000046110006-edit.jpg
public/media/stills/samiswa/000046110003-edit.jpg
public/media/stills/samiswa/000046110002-edit.jpg
public/media/stills/samiswa/000046110001-edit.jpg
public/media/stills/papa/cover.jpg
public/media/stills/papa/06.jpg
public/media/stills/papa/05.jpg
public/media/stills/papa/04.jpg
public/media/stills/papa/03.jpg
public/media/stills/papa/02.jpg
public/media/stills/papa/01.jpg
public/media/stills/Mya15.jpg
public/media/stills/Mya11.jpg
public/media/stills/Mya10.jpg
public/media/stills/mya/Mya11 2A.jpg
public/media/stills/mya/Akmv20.jpg
public/media/stills/mya/Akmv18.jpg
public/media/stills/kunle/cover.jpg
public/media/stills/kunle/06.jpg
public/media/stills/kunle/05.jpg
public/media/stills/kunle/04.jpg
public/media/stills/kunle/03.jpg
public/media/stills/kunle/02.jpg
public/media/stills/kunle/01.jpg
public/media/stills/jen/cover.jpg
public/media/stills/jen/02.jpg
public/media/stills/jen/01.jpg
public/media/stills/jade/Jade40.jpg
public/media/stills/jade/J3-3.jpg
public/media/stills/jade/J2-2.jpg
public/media/stills/isaac/cover.jpg
public/media/stills/isaac/05.jpg
public/media/stills/isaac/04.jpg
public/media/stills/isaac/03.jpg
public/media/stills/isaac/02.jpg
public/media/stills/isaac/01.jpg
public/media/stills/freddie/cover.jpg
public/media/stills/freddie/03.jpg
public/media/stills/freddie/02.jpg
public/media/stills/freddie/01.jpg
public/media/stills/eunsol/cover.jpg
public/media/stills/eunsol/04.jpg
public/media/stills/eunsol/03.jpg
public/media/stills/eunsol/02.jpg
public/media/stills/eunsol/01.jpg
public/media/stills/ellie/cover.jpg
public/media/stills/ellie/05.jpg
public/media/stills/ellie/04.jpg
public/media/stills/ellie/03.jpg
public/media/stills/ellie/02.jpg
public/media/stills/ellie/01.jpg
public/media/stills/diaries/IMG_1817-edit11.jpg
public/media/stills/diaries/IMG_1728-edit5 1.jpg
public/media/stills/diaries/IMG_1697-edit2 1.jpg
public/media/stills/diaries/IMG_0981.jpg
public/media/stills/diaries/IMG_0977.jpg
public/media/stills/diaries/17-edit.jpg
public/media/stills/diaries/000073490013-edit.jpg
public/media/stills/diaries/000073480023-edit.jpg
public/media/stills/diaries/000039490005-edit.jpg
public/media/stills/annabella/cover.jpg
public/media/stills/annabella/05.jpg
public/media/stills/annabella/04.jpg
public/media/stills/annabella/03.jpg
public/media/stills/annabella/02.jpg
public/media/stills/annabella/01.jpg
